@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }
    menu ul li {
        display: inline-block;
    }
    main {
        margin-top: 20px;
        width: 768px;
    }
}