@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
tr{
    
}
table{
    width: 300px;
    height: 90px;
    border-collapse: collapse;
}
caption{
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid black;
    padding: 3px;
    text-align: center;
}
td, th{
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}
td.number{
    text-align: right;
}
tbody tr:nth-child(odd){
    background-color: white;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
thead, tfoot{
    background-color: rgb(59, 59, 59);
    color: white;
}
